:root {
  --primary-text-color: #757575;
  --text-title-color: #212121;
  --text-accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-icon-color: #afb1b8;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}
.visibility {
  display: none;
}
.focus {
  border: 1px solid rgb(219, 22, 114); /* Рамка при получении фокуса */
  width: 80%; /* Ширина поля */
}

.link {
  text-decoration: none;
}

.site-nav .link {
  color: var(--text-title-color);
}

.site-auth .link {
  color: var(--primary-text-color);
}
.contacts {
  margin-bottom: 28px;
  margin-right: 69px;
}

.contacts .link {
  color: rgba(255, 255, 255, 0.6);
  /* background-color: #757575; временный цвет */
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  display: inline-block;
  margin-top: 9px;
}

.developed .text {
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12x;
  line-height: 2;

  padding-top: 18px;
  padding-bottom: 21px;
  margin-top: 0;
  margin-bottom: 0;
}

.link:hover,
.link:focus {
  color: var(--text-accent-color);
}

/* .link:hover .icon-mail {
  fill: var(--text-accent-color);
} */

/* .mail-color {
  color: var(--text-accent-color);
} */

.logo {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway, sans-serif;

  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;

  /* border: 2px solid;
  background-color: rgb(219, 22, 114); */
}

.page-footer .logo {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 45px;
  margin-bottom: 8px;
  color: var(--primary-white-color);
}

.logo-colored {
  color: #2196f3;
}

.navigation .logo:hover,
.navigation .logo:focus {
  color: var(--text-accent-color);
}

.site-nav,
.site-auth {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* .site-nav .text {
  color: var(--primary-text-color);
} */

.site-nav.flex-type {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0;
  margin-left: 84px;
}

.site-nav.flex-type :not(:first-child) {
  padding-left: 50px;
}

.site-auth.flex-type :not(:first-child) {
  padding-left: 30px;
}

.site-auth.flex-type {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0;
  margin-left: auto;
  align-items: center;
}
.flex-type .link {
  display: inline-flex;
  align-items: center;
}

.social-link {
  display: block;
  height: 20px;
  width: 20px;
  fill: var(--primary-icon-color);
}

.social-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  margin-right: 10px;
  /* border: solid 2px tomato; */
  /* background-color: salmon; */
}

.social-block:nth-last-child(1) {
  margin-right: 0px;
}

/* .link-container:last-child {
  margin-right: 50px;
} */

/* .flex-type .social-block :last-child {
  margin-right: 0px;
} */

.social-block:hover {
  background-color: var(--text-accent-color);
}

.social-block:hover .social-link {
  fill: #ffffff;
}

.current-page {
  color: var(--text-accent-color);
}

.studio-color {
  color: var(--text-accent-color);
}

.hero-title {
  color: var(--primary-white-color);
  /* background-color: #757575; временный цвет */
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  /* border: 2px solid tomato; */
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 30px;
}

.title {
  color: var(--text-title-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.hero-button,
.footer-button {
  color: #ffffff;
  background-color: var(--text-accent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: inline-block;
  vertical-align: middle;
  /* border: 2px solid tomato; */
  padding: 10px 32px;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 200px;
}

.footer-button {
  display: inline-flex;

  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 12px;
  align-items: center;
  padding: 10px 29px;
}

.hero-button:hover,
.hero-button:focus,
.footer-button:hover,
.footer-button:focus {
  color: var(--text-title-color);
}

.footer-button:hover .icon-send {
  fill: var(--text-title-color);
}
.subtitle {
  color: var(--text-title-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.site-auth .text {
  line-height: 1.14;
}
.connect {
  /* display: flex; */
  margin-right: 94px;
  /* border: solid; */
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  min-width: 500px;
  /* border: solid blanchedalmond; */
}

.email-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 358px;
  height: 50px;
  /* border: solid; */
  margin-top: 20px;
  margin-bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0;
}

.buttons-block {
  display: flex;
  /* border: solid red; */
}

.connect .flex-type {
  margin-top: 20;
  margin-bottom: 0;
  padding-left: 0;
}

.connect .subtitle,
.subscribe .subtitle {
  /* background-color: #757575; временный цвет */
  color: var(--primary-white-color);
  display: block;
  /* min-width: 400px; */
  /* flex-wrap: nowrap; */
  padding: 0;
  /* margin-bottom: 20px; */
  margin-top: 0;
  /* border: solid 1px tomato; */
}

.icon-send {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  fill: var(--primary-white-color);
}
/* hero-butt .button-link .connect .flex-type {
  padding: 0;
  justify-content: flex-start;
  background-color: violet;
} */

.connect .social-block {
  background-color: rgba(255, 255, 255, 0.1);
}

.connect .social-link {
  fill: var(--primary-white-color);
}

.connect .social-block:hover {
  background-color: var(--text-accent-color);
}

.duties-card .subtitle {
  width: inherit;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  /* flex-wrap: nowrap; */
  padding-top: 27px;
  /* padding-left: 40px; */
  padding-bottom: 27px;
  margin-bottom: 0;
  margin-top: 0;
}

.duties .title,
.clients .title {
  /* border: 2px solid tomato; */
  margin-top: 0;
  margin-bottom: 50px;
}

.team .title {
  display: inline-block;
  margin-top: 94px;
}

.duties-card {
  display: flex;
  height: 294px;
  width: 370px;

  /* align-content: center; */
  /* justify-content: center; */
  align-items: flex-end;
  /* text-align: center; */
}

.duties-card.desktop {
  background-image: url(../img/laptop.jpg);
}

.duties-card.mobile {
  background-image: url(../img/phone.jpg);
}

.duties-card.design {
  background-image: url(../img/display.jpg);
}

.duties-card:not(:first-child),
.clients-card:not(:first-child) {
  margin-left: 30px;
}

.clients-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
}

.clients-card:hover {
  border: 1px solid var(--text-accent-color);
}

.clients-card:hover .logo-1,
.clients-card:hover .logo-2,
.clients-card:hover .logo-3,
.clients-card:hover .logo-4,
.clients-card:hover .logo-5,
.clients-card:hover .logo-6 {
  fill: var(--text-accent-color);
}

.center-block {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  /* background-color: tomato; */
}
/* .test {
  width: 1200px;
  display: flex;
  border: 2px solid blue;
} */
.team-subtitle {
  color: var(--text-title-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  display: inline-block;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 16px;
}

.contacts .logo {
  font-size: 26px;
  line-height: 1.18;
}

.contacts .logo-colored {
  font-size: 26px;
  line-height: 1.18;
}

.location.text {
  color: var(--primary-white-color);
  /* background-color: #757575; */
}

.container {
  /* border: 5px solid tomato; */
  display: flex;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  /* background-color: tomato; */
}

.flex-type,
.link-container {
  display: flex;
  /* border: solid; */
}

.team-card .flex-type {
  padding: 0;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(219, 22, 114); */
}

.team-card {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.icon-mail {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-vector {
  width: 10px;
  height: 14.92px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-advantage {
  display: block;
  height: 70px;
  width: 70px;
  padding-bottom: 25px;
  padding-top: 25px;
  /* background-color: #f5f4fa; */
  border-radius: 4px;
}

.advantage .container {
  margin-top: 0;
  margin-bottom: 0;
  /* justify-content: space-between; */
}

.container .advantage-card {
  /* background-color: tomato; */
  width: calc((100% -120px) / 4);
  text-align: left;
}

.advantage-card:not(:first-child),
.team-card:not(:first-child) {
  margin-left: 30px;
}

.team-card .flex-type {
  padding: 0;
  justify-content: center;
  margin-bottom: 24px;
}

.advantage-card .icon-background {
  display: flex;
  background-color: #f5f4fa;
  justify-content: center;
}

.hero-container {
  max-width: 1600px;
  display: block;
  text-align: center;
  background-color: #757575; /*временный цвет*/
  border: 2px solid green;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/Header.jpg);
}

.duties,
.advantage,
.clients,
.portfolio {
  display: block;
  text-align: center;
  /* border: 2px solid green; */
  margin-top: 94px;
}

.clients .logo-1 {
  height: 49.23px;
  width: 44.27px;
  fill: var(--primary-icon-color);
}

.clients .logo-2 {
  height: 52px;
  width: 40px;
  fill: var(--primary-icon-color);
}

.clients .logo-3 {
  height: 42.6px;
  width: 41px;
  fill: var(--primary-icon-color);
}

.clients .logo-4 {
  height: 42.02px;
  width: 79.66 / px;
  fill: var(--primary-icon-color);
}

.clients .logo-5 {
  height: 47px;
  width: 59px;
  fill: var(--primary-icon-color);
}

.clients .logo-6 {
  height: 45.44px;
  width: 88.48px;
  fill: var(--primary-icon-color);
}

.team {
  /* border: 2px solid green; */
  max-width: 1600px;
  display: block;
  text-align: center;

  background-color: #f5f4fa;

  margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
}
.page-footer {
  display: block;
  width: 1600px;
  text-align: center;
  border: 2px solid green;
  margin-top: 94px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
}

.team .container {
  padding-bottom: 94px;
  padding-left: 0;
  padding-right: 0;
  background-color: #f5f4fa;
  /* border: 2px solid green; */
}

.page-footer .container {
  text-align: left;
  align-items: baseline;
  background-color: #2f303a;
}

/* -----------------PORTFOLIO------------------ */
.portfolio-buttons.text {
  color: var(--text-title-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.portfolio-buttons {
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-buttons :not(:first-child) {
  margin-left: 8px;
}

.portfolio-button {
  background-color: #f5f4fa;
  color: var(--text-title-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--text-accent-color);
}

.features .subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.features .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.description.text {
  color: var(--primary-white-color); /*временный цвет*/
  background-color: #757575;
  font-size: 18px;
  line-height: 1.56;
}

.portfolio-card {
  width: calc((100% - 60px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-card:nth-child(3n + 1) {
  margin-left: 0;
}

.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio .features.container {
  /* background-color: tomato; */
  text-align: left;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.portfolio-card .subtitle {
  display: block;
  margin-top: 20px;
  margin-bottom: 4px;
}
.portfolio-card .text {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}
.portfolio-card .description {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
